/*  ArchivoNarrow */

/*  ArchivoNarrow Regular */
@font-face {
    font-family: 'ArchivoNarrow';
    src: url('../fonts/ArchivoNarrow-for-Web/ArchivoNarrow-Regular.woff2') format('woff2'),
         url('../fonts/ArchivoNarrow-for-Web/ArchivoNarrow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*  ArchivoNarrow Italic */
@font-face {
    font-family: 'ArchivoNarrow';
    src: url('../fonts/ArchivoNarrow-for-Web/ArchivoNarrow-Italic.woff2') format('woff2'),
         url('../fonts/ArchivoNarrow-for-Web/ArchivoNarrow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/*  ArchivoNarrow Bold */
@font-face {
    font-family: 'ArchivoNarrow';
    src: url('../fonts/ArchivoNarrow-for-Web/ArchivoNarrow-Bold.woff2') format('woff2'),
         url('../fonts/ArchivoNarrow-for-Web/ArchivoNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*  ArchivoNarrow Bold Italic */
@font-face {
    font-family: 'ArchivoNarrow';
    src: url('../fonts/ArchivoNarrow-for-Web/ArchivoNarrow-BoldItalic.woff2') format('woff2'),
         url('../fonts/ArchivoNarrow-for-Web/ArchivoNarrow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}


/*  Junicode */

/*  Junicode Regular */
@font-face {
    font-family: 'Junicode';
    src: url('../fonts/junicode/Junicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*  Junicode Italic */
@font-face {
    font-family: 'Junicode';
    src: url('../fonts/junicode/Junicode-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/*  Junicode Bold */
@font-face {
    font-family: 'Junicode';
    src: url('../fonts/junicode/Junicode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*  Junicode Bold Italic */
@font-face {
    font-family: 'Junicode';
    src: url('../fonts/junicode/Junicode-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
