// encombrement de la carte lorsque réduite
$volets--carte--reduite: 12vw;

// encombrement du menu lorsque réduit
$volets--menu--reduit: 10vw;

// encombrement du document lorsque réduit
$volets--document--reduit: 6vw;

// vitesse des transition pour les volets
$volets__vitesse-transition: 1s;

// largeur du menu sur grand format
$menu__largeur--desktop: 16rem;

// hauteur sur mobile
$menu__hauteur--mobile: 4rem;
