// placeholders

%cache {
  /*  */
  // voir http://www.anysurfer.be/fr/en-pratique/sites-web/cacher-du-texte#screenreader
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

%cache_temporaire {
  /*  */
  // voir http://www.anysurfer.be/fr/en-pratique/sites-web/cacher-du-texte#screenreader
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%marge-exterieure-inferieure--moyenne {
  /*  */
  margin-bottom: ms(0);
}

%titrage {
  /*  */
  // famille et graisse de caractère par défaut
  @extend %typographie--alternate;

  // interlignage par défaut
  line-height:#{map-get($typographie__interlignages, 'titres')};
}

%zone-de-texte {
  /*  */
  @extend %figurer-liens;
  & p/*:not(:last-child)*/ {
    margin-bottom: ms(0);
  }
}

%texte-de-niveau-n {
  /*  */
  text-transform: lowercase;
  font-variant: small-caps;
  font-style: italic;
  color: rgba( map-get($couleurs, 'secondaire'), .5 );

  & a:hover {
    /*  */
    color: rgba( map-get($couleurs, 'secondaire'), 1 );
    transition: color 1s;
  }
}

%texte-colore {
  color: map-get($couleurs, 'texte coloré');
}

%figurer-liens {
  /*  */
  & a:not([href^="#fnref"]) {
    //border-bottom: 1px solid rgba( map-get($couleurs, 'principale'), .05 );
    &::after {
      color: map-get($couleurs, 'noir');
      vertical-align: super;
      content: '↩';
      font-size: 0.5em;
      margin-left: 0.25em;
    }
  }
}

%figurer-liens-mobile {
  @include respond-to('tablette-et-mobile') {
    & a:not([href^="#fnref"]) {
      color: map-get($couleurs, 'texte coloré');
    }
  }
}

%conteneur-image {
  /*  */
  line-height: 0;
}

%sur-deux-colonnes {
  /*  */
  width: calc( 50% - #{ ms(0) / 2 } );
}

%sur-trois-colonnes-deux-sur-tablette-une-sur-mobile {
  /*  */
  width: 100%;
  @include respond-to('tablette') {
    width: calc( 50% - #{ ms(0) / 2 } );
  }
  @include respond-to('desktop') {
    width: calc( 100% / 3 - #{ ms(0) / 3 * 2 } );
  }
}

%sur-deux-colonnes-une-sur-mobile {
  /*  */
  width: calc( 50% - #{ ms(0) / 2 } );
  @include respond-to('mobile') {
    width: 100%;
  }
}


%typographie--default {
  /* permet d'associer à un composant la typographie par défaut */

  // famille de caractère par défaut
  font-family:#{map-get($typographie__familles, 'default')};
  // graisse de typo référence
  font-weight: #{map-get($typographie__graisse-par-defaut, 'default')};
}

%typographie--alternate {
  /* permet d'associer à un composant la typographie alternative */

  // famille de caractère par défaut
  font-family:#{map-get($typographie__familles, 'alternate')};
  // graisse de typo référence
  font-weight: #{map-get($typographie__graisse-par-defaut, 'alternate')};
}

%filtre-image-actif {
  @include respond-to('desktop') {
    filter: grayscale(100%) opacity(50%);
    transition: all 1s;
  }
}

%filtre-image-inactif {
  filter: grayscale(0%) opacity(100%);
}
