// breakpoints

$breakpoints: (
  'mobile': (max-width: 399px),
  'tablette-et-mobile': (max-width: 768px),
  'tablette': "(max-width: 768px) and (min-width: 400px)" ,
  'desktop': (min-width: 769px),
);

// Typographie

// taille de référence
// les différentes tailles de caractères
// seront basées sur cette valeur
$typographie__tailles-reference: (
  'default' : 26px,
  'mobile'  : 16px,
) !default;

// interlignage
$typographie__tailles: (
  'xs' : ms(-2),
  's'  : ms(-1),
  'm'  : ms( 0),
  'l'  : ms( 1),
  'xl' : ms( 2),
) !default;

// interlignage
$typographie__interlignages: (
  'default' : 1.58,
  'titres'  : 1.125,
  'compenser-m-vers-s'  : ms(0) / ms(-1) * 1.125, // histoire de garder la même ligne de base, mais il faudra compenser entre les éléments en m et en s
  'compenser-l-vers-m'  : ms(1) / ms(0) * 1.125,
) !default;

// interlettrage
$typographie__interlettrages: (
  'default' : -.003em,
  'nul'  : 0,
) !default;

// multiplicateur de ligne de base
$typographie__baseline-multiplier: (
  'default' : .179,
) !default;

// multiplicateur de hauteur d'x
$typographie__x-height-multiplier: (
  'default' : .35,
) !default;

// familles typographiques
$typographie__familles: (
  'default' : ('Junicode, serif'),
  'alternate' : ('Work Sans, sans-serif'),
) !default;

// familles typographiques
$typographie__graisse-par-defaut: (
  'default' : 300, // medium
  'alternate' : 500, //normal
) !default;

// familles typographiques
$marges: (
  'xs' : ms(-2),
  's'  : ms(-1),
  'm'  : ms( 0),
  'l'  : ms( 1),
  'xl' : ms( 2),
) !default;

// modular scale
// https://github.com/modularscale/modularscale-sass
// liste des ratios disponibles dans node_modules/modularscale-sass/modular-scale/ratios.scss
// on utilise des rem, ainsi tout sera calé
// sur la taille en px appliquée à html
$ms-base: 1rem;
$ms-ratio: $minor-third;

/* cartographie */

// nombre de thèmes
$cartographie__themes: (
  'nombre' : 3,
) !default;

// nodes
$cartographie__nodes: (
  'couleur' : white,
  'opacite' : 1,
) !default;

// nodes racine
$cartographie__nodes--racine: (
  'bordure' : true,
  'couleur' : black,
  'epaisseur' : 10,
) !default;

// nodes thème
$cartographie__nodes--theme: (
  'bordure' : true,
  'couleur' : gold,
  'epaisseur' : 10,
) !default;

// liens
$cartographie__liens: (
  'opacite' : .5,
  'couleur' : black,
) !default;

// liens de parenté
$cartographie__liens--parente: (
  'opacite' : .5,
  'couleur' : black,
) !default;

// liens d'association
$cartographie__liens: (
  'opacite' : .5,
  'epaisseur' : 10,
) !default;


/* thèmes */

$themes__noms:  biens-communs,
                métèquerie,
                l-ennemi-où-est-la-domination,
                enseigner,
                l-intime-est-il-révolutionnaire,
                sans-thème
                ;

$themes__nombre: length($themes__noms);

$themes__couleurs: (
  'biens-communs' : #FF0000,
  'métèquerie' : #BF1199,
  'l-ennemi-où-est-la-domination' : #7B2EEE,
  'enseigner' : orangered,
  'l-intime-est-il-révolutionnaire' : steelblue,
  'sans-thème' : honeydew,
) !default;


/* couleurs */

$couleurs--luminosite : 60;
$couleurs--saturation : 100;
$couleurs--seuil--pourcentage: 2%; // va piloter l'assombrissement de la couleur de fond du menu/carte

$couleurs: (
  'blanc' :           hsl(000, 000, 100),
  'noir' :            hsl(000, 000, 000),
  'principale' :      hsl(000, $couleurs--saturation, $couleurs--luminosite),
  'secondaire' :      hsl(120, $couleurs--saturation, $couleurs--luminosite),
  'complémentaire' :  hsl(240, $couleurs--saturation, $couleurs--luminosite),

  // couleur à déterminer
  'todo' :            hsl(300, $couleurs--saturation, $couleurs--luminosite),
  'todo--fond' :            hsl(300, $couleurs--saturation, $couleurs--luminosite/2),
) !default;
