#infobulle {
  position: absolute;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  padding: 0 1em .25em;
  text-align: center;
}
#infobulle h2 {
  margin: 0;
}
#infobulle p {
}
