line {
  //stroke: $liens-couleurs-defaut;
  stroke-linecap: round;
  opacity: .1;
}
/* cycle d'assignement des couleurs */
@for $i from 1 through $nombre-themes {
  //line.theme_#{$i} {
  line.#{nth($noms-themes, $i)} {
    stroke: nth($couleurs-themes, $i)
  }
}
line.association {
  stroke: $liens-couleurs-defaut;
  stroke-linecap: round;
  opacity: 1;
}

line.highlighted {
    stroke: gold;
}

[data-highlighted='réseau'] line {
  opacity: .2;
}

@for $i from 1 through $nombre-themes {
  [data-highlighted=#{nth($noms-themes, $i)}] line {
    opacity: .2;
  }
}

line.highlighted {
  opacity: 1;
}
