%breadcrumbs {

}

%breadcrumbs__titre {
  @extend %cache;
}

%breadcrumbs__item {
  display: inline-block;
  &:not(:first-of-type)::before {
    content: '☞';
    margin: 0 #{ ms(-2) / 2 };
  }
}

.document__breadcrumbs {
  @extend %document__breadcrumbs !optional;
}

.breadcrumbs {
  &__titre {
    @extend %breadcrumbs__titre;
  }
  &__item {
    @extend %breadcrumbs__item;
  }
}
