%carte {
  overflow: hidden;
  background: mix(
                map-get($couleurs, 'principale'),
                darken( map-get($couleurs, 'blanc'), 2 * $couleurs--seuil--pourcentage ),
                10%
                );
  position: relative; // pour carte__chargement
}

%carte__titre {
  @extend %cache;
}

%carte__chargement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

%carte__chargement--chargement {
  @extend %carte__chargement;
  @extend %animations--cycle-opacite;
}

%carte__chargement--charge {
  @extend %carte__chargement;
  display: none;
}

%carte__chargement--erreur {
  @extend %carte__chargement;
}

.carte {
  @extend %volet;
  @extend %volet--contenu;
  @extend %volet--1;
  @extend %carte;
  &__titre {
    @extend %carte__titre;
  }
  &__chargement {
    @extend %carte__chargement;
    &--chargement {
      @extend %carte__chargement--chargement;
    }
    &--charge {
      @extend %carte__chargement--charge;
    }
    &--erreur {
      @extend %carte__chargement--erreur;
    }
  }
}


/* cartographie */


$carte__liens__couleurs: (
  'default' : purple,
) !default;

$montrer-lien-de-parente: false;

// nodes

// assignation des couleurs
@for $i from 1 through $themes__nombre {

  // remplissage des nodes
  g.#{nth($themes__noms, $i)} {
    fill: #{map-get( $themes__couleurs, nth($themes__noms, $i) )}
  }
  //opacité réduite si mise en avant d'un autre thème
  [data-highlighted=#{nth($themes__noms, $i)}] .node {
    opacity: .2;
  }

  // opacité max si mise en avant du thème parent
  [data-highlighted=#{nth($themes__noms, $i)}] .node.#{nth($themes__noms, $i)} {
    opacity: 1;
    stroke: gold;
    stroke-width: 2;
  }
}

[data-highlighted='réseau'] .node, [data-highlighted^="theme-"] .node {
  opacity: .2;
}

.node.highlighted {
  stroke: gold;
  stroke-width: 2;
  opacity: 1;
}


//liens

line {
  stroke-linecap: round;
}

@if $montrer-lien-de-parente {
  line.parente {
    stroke: #{map-get( $carte__liens__couleurs, 'default' )};
    opacity: .1;
  }
}

// liens d'association
line.association {
  stroke: #{map-get( $carte__liens__couleurs, 'default' )};
  opacity: 1;
}

// lorsqu'un lien est mis en retrait (il ne fait pas partie du réseau mis en avant)
[data-highlighted='réseau'] line {
  opacity: .2;
}

// lorsqu'un lien est mis en avant
line.highlighted {
  opacity: 1;
  stroke: gold;
}
