%liste-d-articles {

}

%liste-d-articles--avec-iconographie {
  @extend %liste-d-articles !optional;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

%liste-d-articles__item {
  padding-top: ms(-2);
  &:not(:last-of-type) {
    padding-bottom: ms(2);
    border-bottom: 1px solid black;
  }
}

%liste-d-articles__item--avec-iconographie {
  //@extend %sur-deux-colonnes-une-sur-mobile;
  @extend %sur-trois-colonnes-deux-sur-tablette-une-sur-mobile;
}

.liste-d-articles {

  @extend %liste-d-articles !optional;

  &--avec-iconographie {
    @extend %liste-d-articles--avec-iconographie;
  }

  &__item {
    @extend %liste-d-articles__item;

    &--avec-iconographie {
      @extend %liste-d-articles__item--avec-iconographie;
    }
  }
}
