%objet-associe {
  width: calc( ( 100% / 3 ) - #{ 2 * ms(0) / 3 });
  margin-top: ms(2);
  @include respond-to('tablette') {
    width: calc( 50% - #{ ms(0) / 2 });
  }
  @include respond-to('mobile') {
    width: 100%;
  }
}

%objet-associe__lien {
  display: flex;
  flex-flow: column;
}


%objet-associe__titre {
  @extend %titrage;
  font-size: #{map-get($typographie__tailles, 'l')};
  margin-top: ms(-2);
}

%objet-associe__image {
  @extend %conteneur-image;
  order: -1;
  background: #{map-get($couleurs, 'todo--fond')};
  & img {
    @extend %filtre-image-actif;
    &:hover {
      @extend %filtre-image-inactif;
    }
  }
}

.objet-associe {
  &__lien {
    @extend %objet-associe__lien;
  }
  &__titre {
    @extend %objet-associe__titre;
  }
  &__image {
    @extend %objet-associe__image;
  }
}
