/* styles pour l'affichage des variables du contrôleur en tableau */

body {
  color: #222;
  //background: #ccc;
  font-family: helvetica, sans-serif;
}

/* tables pour la visualisation des données sortantes de PW */

table {
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  padding: 10px 20px;
}
td:first-child {
  font-weight: bold;
}
.head {
  background: black;
  color: white;
}

/* fin des styles pour l'affichage des variables du contrôleur en tableau */

/* fond gris pour visualiser la carte */
svg {
  background: #cfcfcf;
}


main header{
  h2 {
    font-size: 4em; // todo titre article
  }
  ul, ul+p {
    display: inline-block;
  }
  ul, p {
    font-family: "Courier New";
    font-size: .8em;
  }
}

main {
  article {
    > div:nth-of-type(2){
      background: #ccc;
      padding: 1em; // todo
    }
    p:not(:first-of-type) {
      margin: 1em auto; // todo
    }
  }
}
img {
  max-width: 100%;
}

// notes de bas de page
.footnote-ref {
  font-variant-position: super; // positionner comme
}
.footnotes {
  hr {}
  ol {
    li {}
  }
}


nav { // menu
  align-items: center; // center menu si deux lignes d'éléments
  text-align: center; // centrer le texte pour la version mobile
}
