/*
  déclarations de base
*/

html, body {
  @include taille(100%);
  overflow: hidden;
}

html {
  // taille : 100%
  @include taille(100%);

  // pas de scroll horizontal si éléments hors du viewport
  overflow: hidden;

  // famille de caractère par défaut
  font-family:#{map-get($typographie__familles, 'default')};

  // taille de typo référence (1rem donc)
  font-size: #{map-get($typographie__tailles-reference, 'default')};

  // interlignage par défaut
  line-height:#{map-get($typographie__interlignages, 'default')};

  // interlettrage par défaut
  letter-spacing:#{map-get($typographie__interlettrages, 'default')};

  // multiplicateur de ligne de base par défaut
  --baseline-multiplier:#{map-get($typographie__baseline-multiplier, 'default')};

  // multiplicateur de hauteur d'x
  --x-height-multiplier:#{map-get($typographie__x-height-multiplier, 'default')};

  // couleur du texte courant
  // color: ;

  // ligature pour icones
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  // rendu typo
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // taille typo mobile
  @include respond-to('mobile') {
    font-size:  #{map-get($typographie__tailles-reference, 'mobile')};
    letter-spacing:#{map-get($typographie__interlettrages, 'mobile')};
  }
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a { text-decoration: none; color: unset; }

h1 { font-size: ms(6); }
h2 { font-size: ms(5); }
h3 { font-size: ms(4); }
h4 { font-size: ms(3); }
h5 { font-size: ms(2); }
h6 { font-size: ms(1); }

img {
  max-width: 100%;
}
