@function fibonacci($suite, $nombres-a-ajouter) {
  /* Génère une suite de fibonacci
  Liste de nombres, nombre -> Liste de nombre

  À partir d'une suite de fibonacci existante
  de minimum deux nombres, et d'un nombres
  indiquant le nombre de nombres à ajouter à la liste. */
  @if $nombres-a-ajouter == 0 {
    @return $suite
  } @else {
    $index-sur-precedent : length($suite);
    $index-precedent : $index-sur-precedent - 1;
    $nouveau-nombre : nth( $suite, $index-precedent ) + nth( $suite, $index-sur-precedent );
    $suite : append($suite, $nouveau-nombre) ;
    @return fibonacci($suite, $nombres-a-ajouter - 1)
  }
};
